In [1]:
with open('raw.txt', 'r') as file:
    text = file.readlines()

In [29]:
counter = 0
output = []
new_line = []
for line in text:
    if line.strip() == '' or line.strip() == '<div class="my-credits-info small-12 columns">' or line.strip() == '</div>':
        continue
    fu = line.split('>')[1]
    bar = fu.split('<')[0]
    if counter % 4 == 0:
        output.append(new_line)
        new_line = []
        new_line.append(bar)
    else:
        new_line.append(bar)
    counter +=1

In [30]:
output[:5]

[[],
 ['February 26th, 2019 21:47', '$4.00', 'Prize', 'erickubo'],
 ['February 26th, 2019 18:01', '-$5.44', 'purchjase cp', 'Don Bui'],
 ['February 26th, 2019 16:59', '-$3.00', 'Payment for order #31423082', ''],
 ['February 26th, 2019 16:54',
  '$10.00',
  'Got fixed store credit as part of a coupon (CFB10) applied to order #31422095',
  '']]

In [32]:
import pandas as pd
df = pd.DataFrame([['date', 'amount', 'reason', '']] + output[1:])
df.head()

,0,1,2,3
0,"February 26th, 2019 21:47",$4.00,Prize,erickubo
1,"February 26th, 2019 18:01",-$5.44,purchjase cp,Don Bui
2,"February 26th, 2019 16:59",-$3.00,Payment for order #31423082,
3,"February 26th, 2019 16:54",$10.00,Got fixed store credit as part of a coupon (CF...,
4,"February 26th, 2019 09:17",-$126.77,Payment for order #31422095,

In [33]:
df.to_csv('cfb_history.csv')